
Chapter 2- Stabilize the Tests/.vs/StabilizeTestsDemos/v15/Server/sqlite3/db.lock
/Chapter 3- Optimize the Tests/OptimizeTestsDemos/obj
/Chapter 3- Optimize the Tests/OptimizeTestsDemos/bin/Debug/netcoreapp2.1
/Chapter 3- Optimize the Tests/.vs/StabilizeTestsDemos/v15
/Chapter 3- Optimize the Tests/.vs/OptimizeTheTests/v15
/Chapter 4- Page Object Design Pattern/.vs
/Chapter 4- Page Object Design Pattern/PageObjectDesignPatternDemos/obj
/Chapter 5- Tests Readability/.vs/PageObjectDesignPatternDemos/v15/Server/sqlite3
/Chapter 5- Tests Readability/.vs/OptimizeTheTests/v15/Server/sqlite3
/Chapter 5- Tests Readability/.vs
/Chapter 5- Tests Readability/TestsReadabilityDemos/obj
/Chapter 5- Tests Readability/TestsReadabilityDemos/bin/Debug/netcoreapp2.1
/Chapter 6- Tests Maintainability/.vs/TestsMaintainabilityDemos/v15/Server/sqlite3
/Chapter 6- Tests Maintainability/TestsMaintainabilityDemos/bin/Debug/netcoreapp2.1
/Chapter 6- Tests Maintainability/.vs/TestsMaintainabilityDemos/v15
/Chapter 6- Tests Maintainability/TestsMaintainabilityDemos/obj
/Chapter 7- API Usability/.vs
/Chapter 8- Building Extensibility in Your Test Library/ExtensibilityDemos/bin/Debug/netcoreapp2.1
/Chapter 8- Building Extensibility in Your Test Library/.vs/ExtensibilityDemos/v15/Server/sqlite3
/Chapter 8- Building Extensibility in Your Test Library/.vs/ApiUsabilityDemos/v15
/Chapter 8- Building Extensibility in Your Test Library/.vs/ExtensibilityDemos/v15/.suo
/Chapter 9-Assessment System for Tests Architecture Design/.vs
/Chapter 9-Assessment System for Tests Architecture Design/AssessmentSystemDemos/bin/Debug/netcoreapp2.1
/Chapter 9-Assessment System for Tests Architecture Design/AssessmentSystemDemos/obj
/Chapter 9-Assessment System/.vs
/Chapter 9-Assessment System/AssessmentSystemDemos/bin/Debug
/Chapter 9-Assessment System/AssessmentSystemDemos/obj
/Chapter 10-Test Data Preparation/TestDataPreparationDemos/bin/Debug
/Chapter 10-Test Data Preparation/TestDataPreparationDemos/obj
/Chapter 10-Test Data Preparation/.vs
/Chapter 10-Test Data Preparation/DataAccess.Core/obj
/Chapter 10-Test Data Preparation/DataAccess.Core/bin/Debug/netstandard2.0
/Chapter 10-Test Data Preparation/TestDataGen.Model/obj
/Chapter 10-Test Data Preparation/TestDataGen.Model/bin/Debug/netstandard2.0
/Chapter 10-Test Data Preparation/TestDataGen.Tool/obj
/Chapter 10-Test Data Preparation/TestDataGen.Tool/bin/Debug/netcoreapp2.2
/Appendix-WebDriver Fundamentals/WebDriverFundamentals/obj
/Appendix-WebDriver Fundamentals/WebDriverFundamentals/bin/Debug/netcoreapp2.2
/Appendix-WebDriver Fundamentals/.vs
/Chapter 2- Stabilize the Tests/.vs/StabilizeTestsDemos/v16
