
Chapter 2- Stabilize the Tests/.vs/StabilizeTestsDemos/v15/Server/sqlite3/db.lock
/Chapter 3- Optimize the Tests/OptimizeTestsDemos/obj
/Chapter 3- Optimize the Tests/OptimizeTestsDemos/bin/Debug/netcoreapp2.1
/Chapter 3- Optimize the Tests/.vs/StabilizeTestsDemos/v15
/Chapter 3- Optimize the Tests/.vs/OptimizeTheTests/v15
/Chapter 4- Page Object Design Pattern/.vs
/Chapter 4- Page Object Design Pattern/PageObjectDesignPatternDemos/obj
/Chapter 5- Tests Readability/.vs/PageObjectDesignPatternDemos/v15/Server/sqlite3
/Chapter 5- Tests Readability/.vs/OptimizeTheTests/v15/Server/sqlite3
/Chapter 5- Tests Readability/.vs
/Chapter 5- Tests Readability/TestsReadabilityDemos/obj
